extends ../index.pug

block body
	h2 Iniciar sesión
	form(action="", method="post", style={'max-width': '35em'})
		div
			label(for="user") Usuario, correo electrónico o teléfono
			input#user(type="text", name="email" placeholder="ejemplo@correo.com")
		div
			label(for="password") Contraseña
			input#password(type="password", name="password")
		
		button(type="submit" class="btn waves-effect waves-light purple accent-3" style={'font-family': 'Lexend Deca, sans-serif'}) Iniciar sesion
			i(class="material-icons right") send