extends index.pug 

block body 
    h2 ¡Uy! Lo que estás buscando no existe
    p A no ser que lo que estés buscando sea esta página, si es así, entonces felicidades, la encontraste.
    blockquote Error 404: Recurso no encontrado.